.row{
    display: flex;
}

.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    font-size: larger;
    font-weight: bolder;
    width: 5rem;
    height: 5rem;
}

.status{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
}